# Source me to set up the environment before running devtest
export http_proxy=http://roxy.torment:3128
export LIBVIRT_DEFAULT_URI=${LIBVIRT_DEFAULT_URI:-"qemu:///system"}
export LIBVIRT_NIC_DRIVER=virtio
export NODE_ARCH="amd64"
export NODE_DIST="fedora selinux-permissive"
export NeutronPublicInterface=eth0
export OVERCLOUD_COMPUTESCALE=1
export TRIPLEO_ROOT=~/tripleo
export DIB_COMMON_ELEMENTS="stackuser pip-cache pypi"
export PYPI_MIRROR_URL=http://roxy.torment/pypi/Fedora-20
# Uncomment when not running against Fedora 20
#export PYPI_MIRROR_URL=http://roxy.torment/pypi/
export PYPI_MIRROR_URL_1=http://roxy.torment/pypi/

export MESSAGING_PROVIDER=${MESSAGING_PROVIDER:-rabbitmq-server}
export SEED_DIB_EXTRA_ARGS="$MESSAGING_PROVIDER -u"
export UNDERCLOUD_DIB_EXTRA_ARGS="$MESSAGING_PROVIDER -u"
export OVERCLOUD_CONTROL_DIB_EXTRA_ARGS="$MESSAGING_PROVIDER -u"
export OVERCLOUD_COMPUTE_DIB_EXTRA_ARGS="-u"

# To use a pending review branch
#DIB_REPOLOCATION_heat=https://review.openstack.org/openstack/heat
#DIB_REPOREF_heat=[get this value from Gerrit in the checkout command]

# To use an older commit, just set the repo ref
#DIB_REPOREF_heat=[commit hash here]
